:root {
    /* Paleta principal utilizada a lo largo de la interfaz del TPV. */
    --main-bg-color: #f5a623;
    --second-bg-color: rgba(255, 193, 7, 0.15);
}

body {}

/* Seccion: Carrito */
.mesa-seleccionada {
    background: var(--main-bg-color);
    color: white;
    font-size: 1.2em;
}

.total-amount {
    background: var(--main-bg-color);
    color: white;
    font-size: 1.2em;
}

.cab-carrito {
    position: sticky;
    top: 0;
    background: var(--main-bg-color);
    z-index: 10;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.carrito-container {
    max-height: 40vh;
    min-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: var(--second-bg-color);
    width: 100%;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.carrito-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}


/* Fin seccion: Carrito */

/* Seccion: Familias */
.fam-content {
    max-height: 40vh;
    min-height: 40vh;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: var(--second-bg-color);
    padding: 0.8em;
    border: 1px solid hsl(210, 7.4%, 99.4%);
    overflow-x: hidden;
    border-radius: 8px;

}

/* Ficha de familias */
.fam-card {
    float: left;
    margin: 0.2em;
    text-align: center;
    vertical-align: middle;
    width: 5rem;
    height: 4rem;
    font-size: 0.8em;
    max-height: 30vh;
    
    background-color: #ffffff;
    border: 2px solid var(--main-bg-color);
    border-radius: 6px;
    padding: 0.5em;
    
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.fam-card:hover {
    background-color: var(--main-bg-color);
    color: white;
    transform: scale(1.03);
}


/* Fin seccion: Familias */
/* Seccion: Productos */
.prod-content {
    min-height: 40vh;
    max-height: 40vh;
    margin-left: 1%;
    background: var(--second-bg-color);
    padding: 0.8em;
    border: 1px solid hsl(210, 7.4%, 99.4%);
    ;
    border-radius: 8px;
}

.prod-card {
    border: 1px solid gray;
    border-radius: 5px;
    float: left;
    margin: 0.2em;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 7rem;
    height: 4rem;
    font-size: 0.7em;

    background-color: #ffffff;
    border: 2px solid var(--main-bg-color);
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

}

.prod-card:hover {
    background-color: var(--main-bg-color);
    color: white;
}

.add-product,
.modal-content {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Fin seccion: Productos */
.cesta-lista {
    font-size: 0.9em;
}

.calculadora {
    border-radius: 10px;
    overflow: hidden;

    background: var(--second-bg-color);

}

.teclas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    background: hsl(210, 7.4%, 89.4%);
    padding: 0.8em;
    border: 1px solid hsl(210, 7.4%, 99.4%);
    ;
    border-radius: 8px;
}

.add-product,
.modal-content {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.cesta-lista {
    font-size: 0.9em;


}

.calculadora {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);

}

.teclas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    background: hsl(207, 19%, 61%);
    padding: 0.8em;
}

.calculator-button {
    background: hsl(210, 25%, 95%);
    border: none;
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
    font-size: 1.5rem;
}

.botonera {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    background: hsl(210, 7.4%, 89.4%);
    padding: 0.8em;
    border: 1px solid hsl(210, 7.4%, 99.4%);
    ;
    border-radius: 8px;

}

.producto-item {
    font-size: 0.9em;
}

.hidden {
    display: none;
}

.carrito-tpv {
    height: 90%;
}

/***  Alturas relativas para los div */
.vh-10 {
    height: 10vh;
}

.vh-20 {
    height: 20vh;
}

.vh-30 {
    height: 30vh;
}

.vh-40 {
    height: 40vh;
}

.vh-40 {
    height: 40vh;
}

.vh-50 {
    height: 50vh;
}

.vh-60 {
    height: 60vh;
}

.vh-70 {
    height: 70vh;
}

.vh-80 {
    height: 80vh;
}

.cesta-lista {
    table-layout: fixed;
    width: 100%;
}

.cesta-lista th,
.cesta-lista td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.list-products {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: hsl(210, 7.4%, 89.4%);
    padding: 0.8em;
    border: 1px solid hsl(210, 7.4%, 99.4%);
    ;
    border-radius: 8px;


}

.pago {
    word-wrap: anywhere;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;

    -webkit-box-orient: vertical;
}

.monedas-billetes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.moneda,
.billete,
.pago {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 50px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.7em;

    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.moneda {
    border-radius: 50% !important;
    width: 60px;
    height: 60px;

}


.moneda:hover,
.billete:hover {
    background-color: var(--main-bg-color);
    color: white;
    transform: scale(1.1);
}

/* Estilo específico para los billetes */
.billete {
    background-color: #e6e6e6;
    font-size: 0.8em;
    width: 30%;
}

.billete:hover {
    background-color: #f39c12;
}

.pago.activo {
    background-color: #ffc107;
    /* Amarillo como el botón */
    color: black;
    font-weight: bold;
    border: 2px solid #ff9800;
}

.ui-autocomplete-input {
    position: absolute;
    z-index: 1051 !important;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
}

.bordetabla {
    border: 1px solid var(--main-bg-color);
}

.thcobro {
    background: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    color: white;
}

.ocultar {
    display: none;
}

.calculator-button {
    width: 100%;
    height: 50px;
    /* Ajusta la altura de los botones */
    font-size: 18px;
    /* Ajusta el tamaño de la fuente */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-bg-color) !important;
    border-radius: 5px !important;
}

/**
    REGION: Seleccionar terminal
*/
.terminal-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s, background-color 0.3s;
}

.terminal-card-selected:hover {
    border-color: var(--main-bg-color);
    background-color: var(--main-bg-color);
}

.terminal-card-selected {
    border-color: var(--main-bg-color);
    background-color: var(--main-bg-color);
}

.cursor-pointer {
    cursor: pointer;
}

/*
   END-REGION: Seleccionar terminal
*/


/* Limitar la altura máxima del modal y hacer que la parte del body tenga scroll */
.modal-content {
    max-height: 80vh;
    /* Limita el tamaño total del modal al 80% de la pantalla */
    display: flex;
    flex-direction: column;
}

.modal-body {
    overflow-y: auto;
    /* Agrega scroll interno */
    max-height: 60vh;
    /* Define la altura máxima del cuerpo del modal */
    padding-bottom: 20px;
}

.carroini {
    max-height: 40vh;
    min-height: 40vh;
    background-color: white;
}

.botoneraini {
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 999; /* por si hay modales o capas encima */
    padding-bottom: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.fam-content,
.prod-content {
    padding: 0.5rem !important;      
    min-width: 100% !important;      
    margin: 0 auto;                  
    box-sizing: border-box;         
}

/* Scroll invisible pero funcional */
.scroll-invisible {
    scrollbar-width: none;         /* Firefox */
    -ms-overflow-style: none;      /* IE 10+ */
}

.scroll-invisible::-webkit-scrollbar {
    display: none;                 /* Chrome, Safari, Opera */
}

html, body {
    overflow-x: hidden;
}

.total-amount, .mesa-seleccionada {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.btn {
    border-radius: 8px;
    padding: 10px 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
