<div class="carrito-container">
    <table class="table cesta-lista">
        <thead class="cab-carrito">
            <tr>
                <th id="col-desc-cart">Descrip.</th>
                <th id="col-cant-cart">Cant.</th>
                <th id="col-pvp-cart">PVP</th>
                <th id="col-total-cart">&nbsp;</th>
                <th id="col-edit-cart">&nbsp;</th>
                <th id="col-del-cart">&nbsp;</th>
            </tr>
        </thead>
        <tbody id="item-list">
            <!-- Aquí se van a cargar los items del carrito -->
        </tbody>
    </table>
    <div id="noItem" class="text-center d-none">
        <p>No hay productos en el carrito.</p>
    </div>
</div>