<div id="errorModal">
    <div class="modalErrorClass">
        <h2 class="modalErrorClassH">Error</h2>
        <p id="errorMessage"></p>
        <button class="modalErrorClassButton" onclick="cerrarModal();">Cerrar</button>
    </div>
</div>