    .container {
        max-width: 600px;
        margin: auto;
        background-color: #f8f9fa;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #F49917;
    }

    .form-label {
        font-weight: bold;
        color: #F49917;
    }

    .btn-success {
        margin-bottom: 5px;
        width: 100%;
    }
    .btn-warning {
        margin-top: 5px;
        width: 100%;
    }
